@font-face {
  font-family: 'ChessMedium';
  src: url('@/assets/chess.otf') format('opentype');
}

@mixin chess-figure-white {
  font-family: 'ChessMedium';

  &.pawn::before {
    content: 'P';
  }
  &.rook::before {
    content: 'R';
  }
  &.knight::before {
    content: 'N';
  }
  &.bishop::before {
    content: 'L';
  }
  &.queen::before {
    content: 'Q';
  }
  &.king::before {
    content: 'K';
  }
}

@mixin chess-figure-black {
  font-family: 'ChessMedium';

  &.pawn::before {
    content: 'p';
  }
  &.rook::before {
    content: 'r';
  }
  &.knight::before {
    content: 'n';
  }
  &.bishop::before {
    content: 'l';
  }
  &.queen::before {
    content: 'q';
  }
  &.king::before {
    content: 'k';
  }
}
